.login-form {
    width: 300px;
    border-right: 1px dashed rgba(15, 110, 154, 0.6);
}

.login-title {
    text-align: left;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.login-input{
    width: 270px;
    margin: 5px 5px 5px 0;
}
.login-button{
    width: 280px !important;
    margin: 5px 0 5px 0 !important;
}
.login-content {
    width: calc(100% - 320px);
}