@font-face {
    font-family: GHEAMariamBld;
    src: url("/fonts/GHEAMariamBld.otf") format("opentype");
}

@font-face {
    font-family: GHEAMariamBlit;
    src: url("/fonts/GHEAMariamBlit.otf") format("opentype");
}

@font-face {
    font-family: GHEAMariamReg;
    src: url("/fonts/GHEAMariamReg.otf") format("opentype");
}

@font-face {
    font-family: GHEAMariamRIt;
    src: url("/fonts/GHEAMariamRIt.otf") format("opentype");
}

* {
    font-family: GHEAMariamBld, sans-serif !important;
}

.page_block {
    display: flow-root;
    background: #fff none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
    color: #2b2f33;
    padding: 25px 30px 30px;
}

.wrap {
    m-argin: 0 21px;
    margin: 0 auto;
    width: 1000px;
}

.header {
    background: #0f6e9a;
    background: rgba(15, 110, 154, 1);
}

.header a {
    font-size: 14px;
    display: block;
    height: 50px;
    text-decoration: none;
    opacity: 0.5;
    filter: alpha(opacity=50);
    line-height: 48px;
    color: #ffffff;
    padding: 0 15px;
}

.header a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;
    filter: alpha(opacity=100);
}

.header .logo {
    width: 100px;
    font-size: 0;
    padding: 0;
    background: url("/images/logo.png") 50% 50% no-repeat;
    background-size: auto 32px;
    opacity: 1;
    filter: alpha(opacity=100);

}

.header .logout {
    width: 30px;
    font-size: 0;
    padding: 0;
    background: url("/help/logout.svg") 50% 50% no-repeat;
    background-size: auto 14px;
}


#content {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1280px;
    min-height: 100%;
    padding: 24px;
}

h1 {
    color: #000;
    font-family: GHEAMariamBld, sans-serif;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 16px;
    text-decoration: none;
    vertical-align: top;
}

table {
    /*border-collapse: collapse;*/
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

table.main {
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
}

table.main.no_border {
    border: none;
}

table.main > thead > tr > td,
table.main > tbody > tr > td,
table.main > tr > td {
    padding: 8px;
    border-bottom: 1px solid #E5E5E5;
}

table.main.no_border > tbody > tr:last-child > td {
    border-bottom: none;
}

table.main > thead > tr {
    background-color: #eff1f3;
    /*background-color: #e3e9ee;*/
}

table.main > thead > tr > td,
table.main .thead td {
    color: #096089;
    font-weight: bold;
    padding: 12px 8px;
    /*border-bottom: solid 1px rgb(211, 219, 225);*/
    /*border-right: solid 1px rgb(211, 219, 225);*/
}

table.main > tr:hover td {
    background: #F2F2F2;
}

table.main.no_hover > tr:hover > td {
    background: none;
}

table.main > thead tr:hover > td,
table.main .thead tr:hover > td {
    background: none;
}

table.main .nbb {
    border-bottom: none;
}


.blockquote, pre {
    background-color: #eff1f3;
    border-bottom: medium none;
    border-left: 3px solid #86b6ce;
    margin: 10px 0 0;
    padding: 10px;
    word-wrap: break-word;
}

table .bling {
    background-color: #f9f6e7;
}

#vk_framework table tr td.nomin {
    display: table-cell;
}

#vk_framework table tr td.min {
    display: none;
}

#vk_framework.min table tr td.nomin {
    display: none;
}

#vk_framework.min table tr td.min {
    display: table-cell;
}

.table_buttons td {
    padding: 3px;
}
